* {
  margin: 0;
  padding: 0;

}



.calculator {
  background: linear-gradient(180deg, rgba(205, 255, 4, 0.800), rgba(249, 142, 2, 0.8), rgba(172, 73, 197, 0.800), rgba(73, 187, 197, 0.800));
}

.inner-div {
  height: 80%;
  width: 350px;
  border-radius: 25px;
  background: linear-gradient(360deg, rgba(205, 255, 4, 0.800), rgba(249, 142, 2, 0.8), rgba(172, 73, 197, 0.800), rgba(73, 187, 197, 0.800));
  border: transparent;
  box-shadow: rgb(0, 0, 0,0.2) 18px 20px 25px 10px, rgba(0, 0, 0, 0.3) 15px 10px 13px 3px, rgba(0, 0, 0, 0.2) 10px 6px 50px 10px inset;
} 
.form-input{
  height: 70px;
  width: 90%;
  margin: 0% 5% 8%;
  border: none;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 3px 30px, rgba(0, 0, 0, 0.3) 15px 10px 13px 3px, rgba(197, 189, 189, 0.2) 10px 6px 50px 10px inset;
}
.btn{
  margin: 12px 15px;
  width: 30px;
  height: 30px;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 3px 30px, rgba(0, 0, 0, 0.3) 15px 10px 13px 3px, rgba(197, 189, 189, 0.2) 10px 6px 50px 10px inset;

}
